.app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  text-align: center;
}

/* NOTE: for iframe in Notion */
@media screen and (max-width: 300px) {
  .app-wrapper {
    justify-content: flex-end;
  }
}

.progress-spiral-wrapper {
  display: flex;
  justify-content: center;
}
