.app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  text-align: center;
  justify-content: center;
}

/* NOTE: for iframe in Notion */
@media screen and (max-width: 300px) {
  .app-wrapper {
    justify-content: flex-end;
  }
}

.progress-spiral-wrapper {
  display: flex;
  justify-content: center;
}

.sign-out.sign-out {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 32px;
  color: var(--c-extra-gray);
  font-size: 12px;
}

.offline-status {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 32px;
  color: var(--c-extra-gray);
  font-size: 12px;
}
