.sign-in-button.sign-in-button {
  background-color: var(--c-blue);
  margin: auto;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  z-index: 1;
}

.sign-in-button:before {
  border-radius: 50%;
}

.sign-in-button svg {
  margin: 8px;
  width: 5rem;
  height: 5rem;
  margin-bottom: 21px;
}
