.sign-in-button.sign-in-button {
  background-color: var(--c-blue);
  margin: auto;
  padding: 1rem 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 26rem;
  height: 26rem;
}

.sign-in-button:before {
  border-radius: 50%;
}

.sign-in-button svg {
  margin: 2rem;
  width: 10rem;
  height: 10rem;
  /* NOTE: margin for centering like a timer */
  margin-bottom: 2.5rem;
}
