.timer-button.timer-button {
  color: var(--c-blue);
  border-radius: 50%;
  transition: box-shadow ease-out 0.3s, transform ease-out 0.1s;
  background-color: transparent;
  box-shadow: 0px 0px 4px 0px currentcolor;
  padding: 0px;
  display: block;
}

.timer-button:hover,
.timer-button:focus {
  box-shadow: 0px 0px 0px 4px currentcolor;
}

.timer-button:active {
  transform: scale(0.99);
}

.timer-button-started.timer-button-started {
  color: var(--c-red);
}
