#root {
  height: 100%;
}

html {
  height: 100vh;
  font-size: 8px;
}

body {
  height: 100%;
  overflow-y: hidden;
  margin: 0 auto;
  /* padding: initial; */
  font-size: 2rem;
}

/* NOTE: for small devices or iframes */
@media screen and (max-height: 500px) {
  body {
    margin: 0 auto;
  }
}
