.countdown {
  margin: 0;
  font-family: monospace;
  font-size: 4rem;
  cursor: help;
  color: var(--c-extra-gray);
}

/* TODO: add breakpoint to css vars */
@media screen and (max-width: 500px) {
  .countdown {
    margin: 0;
  }
}
