.countdown {
  margin: 16px;
  font-family: monospace;
  font-size: xxx-large;
  cursor: help;
  color: var(--c-gray);
}

/* NOTE: for small devices or iframes */
@media screen and (max-height: 500px) {
  .countdown {
    display: none;
  }
}
