.countdown {
  margin: 0;
  font-family: monospace;
  font-size: xxx-large;
  cursor: help;
  color: var(--c-extra-gray);
}

@media screen and (max-width: 300px) {
  .countdown {
    font-size: large;
    margin: 0;
  }
}
