.pokoy-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* NOTE: tricky rule that vertically center component relatively container
   * and syncronize with #FibLoader component
   */
  margin-bottom: 1rem;
}

.top-text-wrapper {
  margin: 0;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 500px) {
  .bottom-text {
    font-size: large;
  }
}
